<div class="row">
    <div class="col-md-12 p-4" *ngFor="let recetas of recetaService.recetas">
        <div class="card mb-2">
            <img src="{{recetas.imagenes}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h3">{{recetas.titulo}}</h5>
                <p class="card-text">{{recetas.descripcion}} </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Ingredientes:</b> {{recetas.ingredientes}}</li>
                <li class="list-group-item"><b>Preparación:</b> {{recetas.preparacion}}</li>
            </ul>
            <div class="card-footer">
                <small class="text-muted"><b>Notas:</b> {{recetas.notas}}</small>
            </div>
        </div>
    </div>
</div>